*{
    margin:0;
    font-family: 'Raleway', sans-serif;
}
/*--admin--*/
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
.sidenav h2 {
  text-align: center;
}  
.addproduct{
    border-right: 1px solid gray;
}